ul {
  padding-left: 90px;
  background-color: white;
  text-align: center;
}

li {
  float: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a {
  display: inline-block;
  color: black;
  padding: 0 150px 20px 130px;
  text-decoration: none;
  justify-content: center;
}

a:hover {
  color: grey;
}

h1 {
  font-family: Vivaldi, cursive;
  font-size: 80px;
  text-align: center;
  margin-top: -20px;
}

.container {
  background-color: white;
  border: 4px solid black;
  margin-top: -50px;
}

h2 {
  font-size: 30px;
  text-align: center;
}

.row {
  width: 0 auto;
  overflow-y: auto;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  content: "";
  clear: both;
}

.column {
  flex-grow: 2;
  float: left;
  position: relative;
}

body {
  margin: 50px;
  background-image: url(https://image.freepik.com/free-photo/white-crumpled-paper-texture-for-background_1373-159.jpg);
}

p {
  text-align: center;
}
